.kop-berilyan{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
}

.kop-berilyan{
    margin-top: 80px;
}
.soraglar{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.birinji-div {

border: 2px solid rgba(0, 0, 0, 0.159);
width: 40vw;
height: 8vh;                          
border-radius: 15px;
background-color: transparent;
transition: 0.3s;
display: block; 
}


.kynopka-1 {
    
cursor: pointer;
width: 40vw;
padding: 20px;
font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 700;
color: rgba(0, 0, 0, 0.505);
display: flex;
justify-content: space-between;
background-color: transparent;
border: none;
position: relative;
}
.kynopka-1:focus{
    outline: none;
}
.ikinji-div{
    position: relative;
    bottom: 10px;
    padding-left: 20px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.546);
}

.closed {
transition: 0.3s;
display: none;
}

#cykarmaly {
transition: 0.3s;
display: none;
}

.arrow img{
width: 1.2vw;
}
.flex{
    
}
.arrow{
position: relative;
transition: .3s;
}


@media (max-width: 1100px){
    .arrow img{
        width: 2vw;
        }
}
@media (max-width: 900px){
    .birinji-div{
        width: 55vw;
    }

    .kynopka-1 {
        width: 55vw;
        padding: 20px;
        font-size: 15px;
        bottom: 20px;
        }

        .ikinji-div{
            position: relative;
            bottom: 35px;
            padding: 7%;
            display: flex;
            margin: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.546);
        }

        .arrow img{
            position: relative;
            top: 4px;
            width: 2.2vw;
        }
}

@media (max-width: 600px){

    .birinji-div{
        width: 90vw;
    }

    .kynopka-1 {
        width: 90vw;
        padding: 2%;
        font-size: 15px;
        bottom: 0px;
        }

        .arrow img{
            position: relative;
            width: 4.5vw;
        }
}