body {
    background: linear-gradient(to right, #f36828 0%, #fa446b 100%);
}

.nobat {
    height: 100%;
    width: 80% !important;
    max-width: 1600px;
    margin: 0 auto;
    padding: 110px 40px 40px 40px;
}

.online-yazyl {
    text-align: center;
}

.yazylyshyk {
    display: flex;
    justify-content: space-around;

}

.nobat-form-1 {}

.form-1 {
    padding: 12px;
}

.form-control {
    width: 20vw;
}

.uns {
    color: rgb(6, 63, 252);
    text-align: center;
}

p {
    color: #ffffff;
}

h3 {
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
}

span {
    color: rgb(255, 234, 0);
}

h6 {
    color: black;
    font-weight: 700;
}

.submit {
    justify-content: space-between;
    display: flex;
}

h5 {
    color: white;
}

h2 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 30px;
}

h4,
h1,
div {
    font-family: 'Montserrat', sans-serif !important;

}

.btn {
    border-color: rgb(89, 0, 255);
    background-color: rgb(100, 46, 201);
    width: 10vw
}

.tel-belgi {
    display: flex;
}

.tel {
    font-size: 1.3rem;
    margin-right: 3px;
}

.margin-bottom {
    margin-bottom: 2.5rem;
}

@media(max-width:800px) {
    .yazylyshyk {
        display: block;
    }

    .form-control {
        width: 100%;
    }

    .nobat {
        padding: 100px 0px 0px 0px;
    }

    .btn {
        width: clamp(130px, 160px, 200px);
        padding: 15px 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

}