* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  box-sizing: border-box;
}


.justify-center {
  display: flex;
  justify-content: space-evenly;
}
.justify-center-2{
  position: relative;
}
.yenillikler {
  padding-bottom: 25px;
  text-align: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.yenillik1 {
  padding: 20px;
  width: 25vw;
  height: auto;
  border-radius: 15px;
  background-color: #FFFFFF;
  transition: 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .1), -5px -5px 10px #fff;
}
.yenillik2{
  padding: 20px;
  width: 25vw;
  height: auto;
  border-radius: 15px;
  background-color: #FFFFFF;
  transition: 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .1), -5px -5px 10px #fff;
}

.yenillik2:hover{
  transition: 0.3s;
  box-shadow:  15px 15px 10px rgba(0, 0, 0, .1), -15px -5px 15px #fff;
}
.yenillik1:hover{
  transform: scale3d(1.1);
  transition: 0.3s;
  box-shadow:  15px 15px 10px rgba(0, 0, 0, .1), -15px -5px 15px #fff;
}
.dash-yennillik {
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: black;
}

.dashdan-bolsa {
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.841);
}
p {
  color: rgba(255, 255, 255, 0.697);
  font-size: 12px;
}

.yenillik-ul {
  text-decoration: none;
  list-style: none;
}

.yenillik-ul img {
  position: relative;
  padding: 10px;
  width: 2.5vw;
}
.yenillik-ul li {
  letter-spacing: 2px;
  font-size: 17px;
  padding: 20px;
}

.yazylshmak-btn{
  display: flex;
  justify-content: center;
}
.btn-yazylmak {
  background-color: rgba(247, 114, 5, 0.895);
  color: #fff;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  border-radius: 15px;
  border: none;
  width: 18vw;
  height: 4vh;
  transition: 0.3s;
  box-shadow: 10px 10px 45px rgba(191, 117, 47, 0.438);
}
.btn-yazylmak:hover {
  transition: 0.3s;
  color: white;
  border: none;
  background-color: rgb(246, 174, 30);
}
.btn-a{
  color: rgb(249, 112, 14);
}


@media (max-width:1300px){

  .yenillik-ul li {
    letter-spacing: 2px;
    font-size: 15px;
    padding: 20px;
  }
  
  .yenillik1 {
    padding: 20px;
    width: 30vw;
    border-radius: 15px;

  }
  .yenillik2 {
    padding: 20px;
    width: 30vw;
    border-radius: 15px;

  }
  .btn-yazylmak {
    font-size: 15px;
    position: relative;
    width: 26vw;
    height: 4vh;
    transition: 0.3s;
  }
}

@media (max-width:1200px){
  .yenillik-ul img {
    position: relative;
    padding: 10px;
    width: 3.5vw;
  }
  .yenillik1 {
    padding: 20px;
    width: 30vw;
    height: 80vh;
    border-radius: 15px;

  }
  .yenillik2 {
    padding: 20px;
    width: 30vw;
    height: 1%;
    border-radius: 15px;
  }
  .btn-yazylmak {
    font-size: 15px;
    position: relative;
    width: 26vw;
    height: 4vh;
    transition: 0.3s;
  }
}

@media (max-width:800px){

    
  .yenillik-container{
    position: relative;
    top: 150px;
  }

  .yenillikler{
    position: relative;
    top: 60px;
  }

  .justify-center {
    display: block;
  }
  .yenillik-ul img {
    position: relative;
    padding: 10px;
    width: 7vw;
  }
  .yenillik1 {
    display: block;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 20px;
    width: 90vw;
    height: 2%;
    border-radius: 15px;
  }
  .yenillik2 {
    display: block;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 20px;
    width: 90vw;
    height: 2%;
    border-radius: 15px;
  }
  .btn-yazylmak {
    font-size: 15px;
    position: relative;
    width: 85vw;
    height: 4vh;
    transition: 0.3s;
  }
}




@media (max-width:450px){

    
.yenillik-container{
  right: 20px;
  position: relative;
  top: 30px;
}

.yenillikler{
  padding-bottom: 65px;
  text-align:center;
  position: relative;
  left: 25px;
  top: 70px;
}

.justify-center {
  display: block;
}
.yenillik-ul img {
  position: relative;
  padding: 10px;
  width: 10vw;
}
.yenillik1 {
  position: relative;
  padding: 20px;
  margin: 45px;
  width: 90vw;
  height: 2%;
  border-radius: 15px;
}
.yenillik2 {
  position: relative;
  padding: 20px;
  margin: 45px;
  width: 90vw;
  height: 2%;
  border-radius: 15px;
}
.btn-yazylmak {
  font-size: 15px;
  position: relative;
  width: 80vw;
  height: 4vh;
  transition: 0.3s;
}
}
@media (max-width:400px){

    
.yenillik-container{
  right: 20px;
  position: relative;
  top: 30px;
}

.yenillikler{
  padding-bottom: 65px;
  left: 25px;
  top: 70px;
}

.justify-center {
  display: block;
}
.yenillik-ul img {
  position: relative;
  padding: 10px;
  width: 10vw;
}
.yenillik1 {
  position: relative;
  padding: 20px;
  margin: 45px;
  width: 90vw;
  height: 2%;
}
.btn-yazylmak {
  font-size: 15px;
  position: relative;
  width: 80vw;
  height: 4vh;
  transition: 0.3s;
}
}